extends layout.pug

block content
    section#content
        h2 Welcome, students!
    
        //- nav.nav-header
        //-     ul.nav-items
        //-         li.nav-links Home
        //-         li.nav-links Topics
        //-         li.nav-links About
